#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  margin-bottom: 35px !important;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (min-width: 701px) {
  .swiper-button-prev {
    background-image: url(./chevron-circled.svg) !important;
    position:fixed;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    transform: rotate(180deg);
    transform-origin: 50% 50%;
    top: 95% !important;
    margin-left: 87% !important;
  }

  .swiper-button-prev::after {
    display: none !important;
  }

  .swiper-button-next {
    background-image: url(./chevron-circled.svg) !important;
    position:fixed;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    top: 95% !important;
    margin-right: 2% !important;
  }

  .swiper-button-next::after {
    display: none !important;
  }
}

.swiper-button-prev::after {
  display: none !important;
}

.swiper-button-next::after {
  display: none !important;
}

.swiper-pagination-bullet-active{
  background: black !important;
}

.swiper-slide-active{
  margin-right: 56px !important;
}


/* Small devices (tablets, 768px and up) */
/* @media (min-width: 768px) {
  .green{
      position: absolute;
      top: 0;
      right: 0;
  }
} */

/* Medium devices (desktops, 992px and up) */
/* @media (min-width: 992px) {
.green{
      position: absolute;
      top: 0;
      right: 0;
  }
} */

/* Large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) {
.green{
      position: absolute;
      top: 0;
      right: 0;
  }
} */
